:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-tan: #FBDABB;
  --secondary-grey: #EDEFEE;
  --secondary-black: #333333;
}

.App {
  font-family: "Karla", sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.Highlights h2 {
  font-size: 40pt;
  font-family: "Markazi Text", sans-serif;
}

.Menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.MenuOrder {
  justify-content: flex-start;
}

.MenuOrder a {
  text-decoration: none;
  color: black;
  text-align: left;
  font-weight: bold;
  font-size: 14pt;
}

.MenuOrder img {
  width: 25px;
  height: auto;
  object-fit: fill;
  margin-left: 10px;
}

.Testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: var(--primary-green);
}

.TestimonialCard {
  width: 200px;
}

.TestimonialStars {
  color: var(--primary-yellow);
  text-align: center;
  margin-bottom: 25px;
}

.TestimonialHeader {
  color: var(--primary-yellow);
  text-align: center;
}

.square-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.rounded-button {
  display: inline-block;
  background-color: var(--primary-yellow);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

